<nav class="navbar navbar-expand-sm bg-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <form action="/" method="get">
        <button type="submit" class="btn btn-primary"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</button>&nbsp;&nbsp;
      </form>
    </li>
    <li class="nav-item">
      <form action="/reports" method="get">      
         <button type="submit" class="btn btn-primary"><i class="fas fa-file-alt"></i>&nbsp;&nbsp;Reports</button>&nbsp;&nbsp;
      </form>
    </li>
  </ul>
</nav>