<div class="jumbotron text-center">
  <h1> Home </h1>
  <p> Command::Fuzzer Web Interface </p>
</div>

<div class="card">
  <div class="card-body">Job #1234</div>

  <div class="card-body">Basic card</div>
</div>