<div class="card bg-primary text-white container-fluid fixed-bottom">
  <form class="form-inline" action="/<%= action_type %>/<%= uuid %>/result/<%= xmmessage.command/edit %>" method="post">
    <div class="d-flex w-100">
      <div class="p-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-tag"></i></span>
          </div>
          <input type="text" class="form-control" name="name" placeholder="Name">
        </div>
      </div>
  </form>
</div>